* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    height: 100vh;
    width:100vw;
    overflow: hidden;
    font-family: 'Segoe UI', Helvetica, sans-serif;
}

.app {
    width: 50vw;
    height: 75vh;
    background: #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.025);
}

.page-title {
    color: #444444;
    font-weight: 500;
    text-align:center;
    margin: 1em 0;
}

.page-title > span {
    color: #ffbb00;
}