* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    height: 100vh;
    width:100vw;
    overflow: hidden;
    font-family: 'Segoe UI', Helvetica, sans-serif;
}

.app {
    width: 50vw;
    height: 75vh;
    background: #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.025);
}

.page-title {
    color: #444444;
    font-weight: 500;
    text-align:center;
    margin: 1em 0;
}

.page-title > span {
    color: #ffbb00;
}

.query-box {
    width: 80%;
    margin: 0 10%;
    padding: 20px;
    background: #eee;
    border-radius: 5px;
    position:relative;
}

.query-box .query {
    color: #666;
    text-transform: uppercase;
    font-size: 1rem;
}

.btn {
    background: transparent;
    border: none;
    padding: 12px 16px;
    font-size: .75rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s ease-in-out;
}

.btn.primary {
    background:#ffbb00;
    color: #fff;
}

.btn.primary:hover {
    background: #ffcc22;
}

.btn.primary-outline {
    background: #fff;
    border: 2px solid #ffbb00;
    color: #ffbb00;
    border-radius: 5px;
}

.btn.primary-outline:hover {
    background: #ffbb00;
    color: #fff;
}

.query-box .btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 23px;
    border-radius: 0 5px 5px 0;
}

.option-selector {
    width: 80%;
    margin: 2em 10%;
}

.option-selector .option-title {
    color: #666;
    font-weight: 500;
    text-transform:capitalize;
}

.option-btn-group {
    margin-top: 1em;
}

.option-btn-group .btn:nth-child(n+2) {
    margin-left: 1.25em;
}

.option-btn-group .btn.primary {
    border: 2px solid #ffbb00;
    border-radius: 5px;
}